.example-class {
    color: #333;
    font-size: 13pt;
}

.other-class {
    color: #333;
}

.over-class {
    /* background-color: rgb(202, 199, 199); */
    background-color: #f0e8e8;
}

.out-class {
    background-color: #ffff;
    border: 1px #cccccc;
}

.flex-container {
    display: flex;
    align-items: baseline;
    padding: 0px 20px 0px 20px;
}

.cursor:hover {
    cursor: hand;
    cursor: pointer;
}

.flex-container>div {
    width: 100px;
    margin: 10px;
    line-height: 20px;
}

.btn-borrar {
    text-align: right;
}