<div *ngIf="hits">
    <div class="flex-container cursor" *ngFor=" let hit of dataSource; let i = index " (mouseenter)="prueba($event, i)" (mouseleave)="prueba($event, i)">

        <div class="flex-div title-div" style="flex-grow: 8" *ngIf="hit.story_title || hit.title " (click)="openURL(hit.story_url)">
            <p> {{ hit.story_title ? hit.story_title : hit.title }} <span> - {{hit.author}} - </span> </p>
        </div>

        <div class="flex-div" style="flex-grow: 1" *ngIf="hit.story_title || hit.title " (click)="openURL(hit.story_url)">
            {{hit.created_at }}
        </div>

        <div class="flex-div btn-borrar" style="flex-grow: 1" *ngIf="hit.story_title || hit.title ">
            <button mat-icon-button aria-label="Example icon-button with a heart icon" *ngIf="hit.ver" (click)="deletedhit(hit._id)">
                            <mat-icon> delete_forever </mat-icon>
                    </button>
        </div>

        <mat-divider class="mat-divider"></mat-divider>

    </div>
</div>